<nav class="navbar navbar-expand-lg navbar-dark bg-primary mat-elevation-z6">

    <a class="navbar-brand font-weight-bold" href="#">NgCalendar</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarColor02" aria-controls="navbarColor02"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">

        <ul class="navbar-nav ml-auto">

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="wikipedia">Wikipedia</a>
            </li>

            <li class="nav-item" *ngIf="auth.user$ | async as user; else elseBlock">
                <mat-menu #loggedMenu="matMenu">
                    <button (click)="auth.logout()" mat-menu-item>Deconnexion</button>
                </mat-menu>

                <button mat-button [matMenuTriggerFor]="loggedMenu" class="nav-link">
                    <mat-icon>person</mat-icon>
                    <span>{{ user.displayName | lowercase }}</span>
                </button>
            </li>

            <ng-template #elseBlock>
                <li class="nav-item">
                    <button mat-button (click)="auth.login()" class="nav-link">
                        <mat-icon>account_circle</mat-icon>
                        <span>Connexion</span>
                    </button>
                </li>
            </ng-template>
        </ul>
    </div>
</nav>
