<div *ngIf="auth.user$ | async as user; else elseBlock " class="row">

    <div class="col-md-3">
        <mat-card class="example-card">

            <mat-card-header class="text-center">
                <mat-card-title>{{ user.displayName | uppercase }}</mat-card-title>
            </mat-card-header>

            <img mat-card-image src="{{ user.photoURL }}" alt="Photo user">

            <mat-card-actions>
                <button (click)="auth.getCalendar()" mat-button>Afficher calendrier</button>
                <button (click)="auth.logout()" mat-button>Déconnexion</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-md-9">
        <div class="row">
            <div *ngFor="let item of auth.calendarItems" class="col-md-4">

                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            {{ item.summary }} <span class="badge badge-light">{{ item.status }}</span>
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{ item.start.dateTime | date: 'dd/MM/yyyy' }}
                            - {{ item.end.dateTime | date: 'dd/MM/yyyy' }}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        {{ item.description }}
                    </mat-card-content>
                </mat-card>

            </div>
        </div>
    </div>
</div>

<ng-template #elseBlock>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h1 class="secondary font-weight-bold">NgCalendar</h1>
                    </mat-card-title>
                    <mat-card-subtitle>Google Angular Calendrier</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="text-center">
                        <mat-icon color="primary">calendar_today</mat-icon>
                    </p>
                    <p>Le projet utilise Angular 7, Firebase, Google calendar API.</p>
                </mat-card-content>
                <mat-card-actions>
                    <p class="text-right">
                        <button mat-raised-button color="primary" (click)="auth.login()">Connexion</button>
                    </p>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</ng-template>

<app-addform></app-addform>
