<div class="row">
    <div class="col-12">
        <h1 class="text-white">Please choose your service</h1>
    </div>
    <div class="col-12 col-md-3">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Google calendar</mat-card-title>
            </mat-card-header>
            <button mat-flat-button color="primary" routerLink="../google/calendar">Go</button>
        </mat-card>
    </div>
    <div class="col-12 col-md-3">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Wikipedia</mat-card-title>
            </mat-card-header>
            <button mat-flat-button color="primary" routerLink="../wikipedia">Go</button>
        </mat-card>
    </div>
</div>
